body{
    background-image: url(fundo.jpg);
    width: 100%;
    
    
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .titulosi{

    -webkit-text-fill-color: rgb(206, 206, 206);
    padding: 0px 20px;
    display: flex;
    
    
  }  
  .topo {
      padding-right: 30px;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 1px 10px rgba(37, 37, 37, 0.568);
      
    }

    .intuito{
      padding-right: 70px;
      padding-left: 100px;

    }

    .redes{
      padding-left: 30px;
    }

    .subh{
      text-align: center;
      padding: 1px 5px;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: #947547;
      box-shadow: 0px 1px 10px rgba(37, 37, 37, 0.568);
      -webkit-text-fill-color: rgb(206, 206, 206);
    }

    .subh > a {
      color: white;
      padding: 10;
      text-decoration: none;
      font-weight: bold;
    }

    .break {
      flex-basis: 100%;
      height: 0;
    }

    .elemento2 {
      
      background: rgba(221, 221, 221, 0);
      width: 1192px;
      height: 500px;
      padding: 0 50px;
      display: flex;
  }


  .tprincipal{
    font-size: 100px;
    padding-top: 160px;
    text-align: center;
    -webkit-text-fill-color: rgb(160, 109, 61);
    color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(255, 244, 225),
      0 0 82px rgb(255, 231, 187),
      0 0 92px rgb(255, 215, 142),
      0 0 102px rgb(255, 200, 97),
      0 0 151px rgb(255, 192, 76);
  }

  .stprincipal{
    padding-left: 10px;
    font-size: 80px;
    font-weight: lighter;
    padding-top: 170px;
  }


  .tudo{
      display: flex;
      flex-wrap: wrap;
    
  }

    main {
      padding: 20px 0px;
      display: flex;
      justify-content: space-around;

    }
    
    .nome{
      text-align: center;
      padding-left: 10px;
      padding-bottom: 10px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }
    
    .fim {
      padding: 0px 20px;
      padding-top: 50px;
      display: flex;
      justify-content: center;
      text-align: center;
      background-color:  #ffffffd8;
    }

    .copy{
      text-align: center;
      padding-bottom: 30px;
    }
  
    
  
    aside {
      width: 45%;
      transition: transform 1s;
      transform: translateX(0) scale(0.9);
    } aside:hover,
    aside:focus {
      transform: translateX(10px) scale(1.0);
      
    }
  
    section {
      width: 45%;
      transition: transform 1s;
      transform: translateX(0) scale(0.9);
    } section:hover,
    section:focus {
      transform: translateX(10px) scale(1.0);
      
    }
    
    section header {
      padding: 10px;
      text-align: center;
      -webkit-text-fill-color: rgb(0, 0, 0);
                                                /*header (parte mais escura do quadrado) */
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      background-color: tomato;
      backdrop-filter: blur(50px);
      -webkit-backdrop-filter: blur(50px);
      background-color: transparent;
      border: 1px solid #ffffff60;
      
  
    }
    
    section div {
      padding: 10px;
      text-align: center;
                                               /*texto (parte mais clara do quadrado) */
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
      background-color: tomato;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      background-color: transparent;
      border: 1px solid #ffffff60;
  
    }
    
    aside header {
      padding: 10px;
      text-align: center;
                                                 /*header (parte mais escura do quadrado) */
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      background-color: tomato;
      backdrop-filter: blur(50px);
      -webkit-backdrop-filter: blur(50px);
      background-color: transparent;
      border: 1px solid #ffffff60;
    }
    
    aside div {
      padding: 10px;
      text-align: center;
                                              /*texto (parte mais clara do quadrado) */
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
      background-color: tomato;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      background-color: transparent;
      border: 1px solid #ffffff60;
    }
  
    .search-container{                         /* inicio caixinha de pesquisa*/
      width: 250px;
      display: block;
      margin: 0 auto;
      position: relative;
      float: right;
      right: -360px;
      top: 25px;
    }
    
    input#search-bar{
      margin: 0 auto;
      width: 100%;
      height: 35px;
      padding: 0 20px;
      font-size: 1rem;
      border: 1px solid #d0cfce;
      outline: none;
      border-radius: 10px;
     }
    
    .search-icon{
      position: relative;
      float: right;
      width: 75px;
      height: 75px;
      top: -55px;
      right: -50px;
    }                                      /*fim caixinha de pesquisa*/
  
    button {  /* estilização hiperlink botão*/
      position: relative;
      color: #fff;
      text-decoration: none;  
    }

    a {
      text-decoration: none;
      -webkit-text-fill-color: rgb(0, 0, 0);
      
    }
  
    button:before { /* efeito hiperlink botão*/
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 0;
      background-color: #000000;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }
  
    button:hover:before { /* efeito hiperlink botão*/
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }

    .frases{                       /* frases*/
      display:flex;
    }

    .card{
      border-radius: 20px;
      margin-left: 10px;
      height: fit-content;
      background-color: #ffffffe0;
      flex: 1;
      transition: .3 all ease;
      box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.74);
      padding-top: 90px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .card:hover{
      flex: 2;
      background-color: rgba(207, 207, 207, 0.774);
    }


    /* quadradinho transparente */

    .card {
        width: 190px;
        height: 254px;
        transition: all 0.2s;
        position: relative;
        cursor: pointer;
        text-align: center;

      }
      
      .card-inner {
        width: inherit;
        height: inherit;
        background: rgba(255,255,255,.05);
        box-shadow: 0 0 10px rgba(0,0,0,0.25);
        backdrop-filter: blur(10px);
        border-radius: 8px;
      }
      
      .card:hover {
        transform: scale(1.04) rotate(1deg);
      }
      
      .circle {
        width: 100px;
        height: 100px;
        background: radial-gradient(#b0e633, #53ef7d);
        border-radius: 50%;
        position: absolute;
        animation: move-up6 2s ease-in infinite alternate-reverse;
      }
      
      .circle:nth-child(1) {
        top: -25px;
        left: -25px;
      }
      
      .circle:nth-child(2) {
        bottom: -25px;
        right: -25px;
        animation-name: move-down1;
      }
      
      @keyframes move-up6 {
        to {
          transform: translateY(-10px);
        }
      }
      
      @keyframes move-down1 {
        to {
          transform: translateY(10px);
        }
      }

      .cvv{
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;

      }
